演習プログラム１

In [1]:
# pandasライブラリをpsという名前でのimport
import pandas as pd

In [2]:
#多次元のlistにそれぞれのデータを格納
data = [['山田太郎', '宇都宮市', 19, 180.7],['山田花子', '那須塩原市', 22, 162.1],['産技次郎', '宇都宮市', 30, 174.3]]

In [3]:
# デフォルトでは、index及びcolumsは0～始まる数字が付く
df = pd.DataFrame(data)

df

      0      1   2      3
0  山田太郎   宇都宮市  19  180.7
1  山田花子  那須塩原市  22  162.1
2  産技次郎   宇都宮市  30  174.3

In [4]:
# ラベルとカラムに任意の名前を付ける
c_frame = pd.DataFrame(data, index=['0001', '0002', '0003'],columns=['氏名', '居住地', '年齢', '身長'])

c_frame

        氏名    居住地  年齢     身長
0001  山田太郎   宇都宮市  19  180.7
0002  山田花子  那須塩原市  22  162.1
0003  産技次郎   宇都宮市  30  174.3

In [5]:
# numpyをnpという名前でのimport
import numpy as np

In [6]:
#多次元配列なので、numpy.arrayでもできる
array = np.array([['山田太郎', '宇都宮市', 19, 180.7],['山田花子', '那須塩原市', 22, 162.1],['産技次郎', '宇都宮市', 30, 174.3]])

In [7]:
c_frame = pd.DataFrame(data, index=['0001', '0002', '0003'],columns=['氏名', '居住地', '年齢', '身長'])

c_frame

        氏名    居住地  年齢     身長
0001  山田太郎   宇都宮市  19  180.7
0002  山田花子  那須塩原市  22  162.1
0003  産技次郎   宇都宮市  30  174.3

補足プログラム

In [8]:
# 辞書型をDataFramesにする
data = {'都道府県':['東京都','大阪府','北海道'],
        '人口':[13843403,8824566,5285430]}

c_frame = pd.DataFrame(data)
c_frame

  都道府県        人口
0  東京都  13843403
1  大阪府   8824566
2  北海道   5285430