演習プログラム１

In [43]:
# pandasをpsという名前でのimport
import pandas as pd

In [44]:
#多次元のlistにそれぞれのデータを格納
data = [['山田太郎', '宇都宮市', 19, 180.7],['山田花子', '那須塩原市', 22, 162.1],['産技次郎', '宇都宮市', 30, 174.3]]

In [45]:
# デフォルトでは、index及びcolumsは0～始まる数字が付く
df = pd.DataFrame(data)

df

      0      1   2      3
0  山田太郎   宇都宮市  19  180.7
1  山田花子  那須塩原市  22  162.1
2  産技次郎   宇都宮市  30  174.3

In [46]:
# ラベルとカラムに任意の名前を付ける
c_frame = pd.DataFrame(data, index=['0001', '0002', '0003'],columns=['氏名', '居住地', '年齢', '身長'])

c_frame

        氏名    居住地  年齢     身長
0001  山田太郎   宇都宮市  19  180.7
0002  山田花子  那須塩原市  22  162.1
0003  産技次郎   宇都宮市  30  174.3

In [47]:
# numpyをnpという名前でのimport
import numpy as np

In [48]:
#多次元配列なので、numpy.arrayでもできる
array = np.array([['山田太郎', '宇都宮市', 19, 180.7],['山田花子', '那須塩原市', 22, 162.1],['産技次郎', '宇都宮市', 30, 174.3]])

In [49]:
c_frame = pd.DataFrame(data, index=['0001', '0002', '0003'],columns=['氏名', '居住地', '年齢', '身長'])

c_frame

        氏名    居住地  年齢     身長
0001  山田太郎   宇都宮市  19  180.7
0002  山田花子  那須塩原市  22  162.1
0003  産技次郎   宇都宮市  30  174.3

補足プログラム

In [50]:
# 辞書型をDataFramesにする
data = {'都道府県':['東京都','大阪府','北海道'],
        '人口':[13843403,8824566,5285430]}

c_frame = pd.DataFrame(data)
c_frame

  都道府県        人口
0  東京都  13843403
1  大阪府   8824566
2  北海道   5285430

In [56]:
# pandasをpsという名前でのimport
import pandas as pd

In [80]:
# サンプルは何でもよいですが、例として2019年のJ1リーグ順位表を利用
import webbrowser
website = 'https://ja.wikipedia.org/wiki/2019年のJ1リーグ#順位表'
webbrowser.open(website)

True

In [93]:
# ブラウザ上で表部分をコピーしておくと、クリップボードから読み込み可能
J1_frame = pd.read_clipboard()

In [94]:
#うまく表示されないときは、再度コピー（null：データなし）
J1_frame

,,順,チーム,試,勝,分,敗,得,失,差,点,出場権または降格
1,横浜F・マリノス,(C),(TQ),34,22,4,8,68,38,+30,70,AFCチャンピオンズリーグ2020グループステージ1の出場権を獲得
2,FC東京,(Q),34,19,7,8,46,29,+17,64,AFCチャンピオンズリーグ2020プレーオフの出場権を獲得,None
3,鹿島アントラーズ,(Q),34,18,9,7,54,30,+24,63,None,None
4,川崎フロンターレ,34,16,12,6,57,34,+23,60,J1残留,None,None
5,セレッソ大阪,34,18,5,11,39,25,+14,59,None,None,None
6,サンフレッチェ広島,34,15,10,9,45,29,+16,55,None,None,None
7,ガンバ大阪,34,12,11,11,54,48,+6,47,None,None,None
8,ヴィッセル神戸,34,14,5,15,61,59,+2,47,None,None,None
9,大分トリニータ,34,12,11,11,35,35,0,47,None,None,None
10,北海道コンサドーレ札幌,34,13,7,14,54,49,+5,46,None,None,None
11,ベガルタ仙台,34,12,5,17,38,45,−7,41,None,None,None
12,清水エスパルス,34,11,6,17,45,69,−24,39,None,None,None
13,名古屋グランパス,34,9,10,15,45,50,−5,37,None,None,None
14,浦和レッズ,34,9,10,15,34,50,−16,37,None,None,None
15,サガン鳥栖,34,10,6,18,32,53,−21,36,None,None,None
16,湘南ベルマーレ,(O),34,10,6,18,40,63,−23,36,"J1参入プレーオフに出場,",J1残留
17,松本山雅FC,(R),34,6,13,15,21,40,−19,31,J2リーグ,2020へ降格
18,ジュビロ磐田,(R),34,8,7,19,29,51,−22,31,J2リーグ,2020へ降格

In [83]:
# 列名（カラム）はcolumns
J1_frame.columns

Index(['順', 'チーム', '試', '勝', '分', '敗', '得', '失', '差', '点', '出場権または降格'], dtype='object')

In [84]:
J1_frame['チーム']

1   横浜F・マリノス       (TQ)
2   FC東京             34
3   鹿島アントラーズ         34
4   川崎フロンターレ         16
5   セレッソ大阪           18
6   サンフレッチェ広島        15
7   ガンバ大阪            12
8   ヴィッセル神戸          14
9   大分トリニータ          12
10  北海道コンサドーレ札幌      13
11  ベガルタ仙台           12
12  清水エスパルス          11
13  名古屋グランパス          9
14  浦和レッズ             9
15  サガン鳥栖            10
16  湘南ベルマーレ          34
17  松本山雅FC           34
18  ジュビロ磐田           34
Name: チーム, dtype: object

In [85]:
# 列名を'順','チーム','点'に限定して新規にDataFrame作成
pd.DataFrame(J1_frame,columns=['順','チーム','点'])

                  順   チーム                              点
1  横浜F・マリノス     (C)  (TQ)                             70
2  FC東京         (Q)    34  AFCチャンピオンズリーグ2020プレーオフの出場権を獲得
3  鹿島アントラーズ     (Q)    34                           None
4  川崎フロンターレ      34    16                           None
5  セレッソ大阪        34    18                           None
6  サンフレッチェ広島     34    15                           None
7  ガンバ大阪         34    12                           None
8  ヴィッセル神戸       34    14                           None
9  大分トリニータ       34    12                           None
10 北海道コンサドーレ札幌   34    13                           None
11 ベガルタ仙台        34    12                           None
12 清水エスパルス       34    11                           None
13 名古屋グランパス      34     9                           None
14 浦和レッズ         34     9                           None
15 サガン鳥栖         34    10                           None
16 湘南ベルマーレ      (O)    34                  J1参入プレーオフに出場,
17 松本山雅FC       (R)    34                          J2リーグ
18 ジュビロ磐田       (R)    34                          J2リーグ

In [ ]:
# indexを使用し、行の取り出し
J1_frame.iloc[3]

順                  4
チーム         川崎フロンターレ
試                 34
勝                 16
分                 12
敗                  6
得                 57
失                 34
差                +23
点                 60
出場権または降格        J1残留
Name: 3, dtype: object

In [ ]:
# 明示的にスライスする場合 3から7まで
J1_frame.loc[3:7]

   順        チーム   試   勝   分   敗   得   失    差   点 出場権または降格
3  4   川崎フロンターレ  34  16  12   6  57  34  +23  60     J1残留
4  5     セレッソ大阪  34  18   5  11  39  25  +14  59     J1残留
5  6  サンフレッチェ広島  34  15  10   9  45  29  +16  55     J1残留
6  7      ガンバ大阪  34  12  11  11  54  48   +6  47     J1残留
7  8    ヴィッセル神戸  34  14   5  15  61  59   +2  47     J1残留